azulObscuro=#2e4154
azulClaro=#26bce0
rojo=#c0392b
verde=#27ae60
gris=#818e8f
plata=#bdc3c7
blanco=#ecf0f1
naranja=#d35400

header
	background azulObscuro
	display flex
	div.logo
		background blanco
		width 10%
		img
			width 90%
			display block
			margin 2% auto
	h1
		width 85%
		text-align center
		color blanco
section.habitaciones
		
		article
			display inline-block
			width 17%
			background verde
			margin 2% 1%  
			