<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Examen
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilo.css")
	script(src="js/jquery.js")
	script(src="js/hotel.js")
body
	include layout/header.jade
	include layout/main.jade
	