section.habitaciones
	- for(x=0;x<10;x++)
		article
			p.habitacion H

			div.fechas
				p.numero=x+1
				label Fecha de entrada
				input(type="date" id="entrada")
				label Fecha de Salida
				input(type="date" id="salida")
			div.status
				select.status
					option(value="0") Escoga Opcion
					option(value="1") Libre
					option(value="2") Ocupada
					option(value="3") Limpieza
include aside.jade